<h1><%= @title %></h1>
<p>Year: <%= @movie_details[1] %> </p>
<p>Director: <%= @movie_details[2] %> </p>
<p>Link: <a href="<%= @movie_details[3] %>">Wiki Image </a></p>
<p>Box Office: $<%= @movie_details[4] %> </p>

<p><a href="/">Back to Home</a></p>
<p><a href="/new_movie">Add A New Movie</a></p>