<h1><%= @title.upcase %></h1>
<p><h1>DIRECTOR: <%=  @movie_info[2].upcase %></h2></p>
<p><h4>YEAR: <%= @movie_info[1] %></h3><p>
<p><h4>LINK: <a href="<%= @movie_info[3] %>">Movie Image</a></h4></p>
<p><h4>REVENUE: $<%= @movie_info[4] %></h4></p>


