<h1><%= @title %></h1>
<img src= "<%= @info[3] %>" alt="<%=@info[3]%>" width=200px />
<p>
  "<%= @info[0] %>" was released in <%= @info[1] %> by director <%= @info[2] %>.</p>
  <p>The film received $<%=@info[4] %> in revenue</p>

