<h1><%= @movie[0] %></h1>
<img src="<%= @movie[3] %>" alt="Movie image" width=200/>
<p>Year released: <%= @movie[1] %></p>
<p>Director name: <%= @movie[2] %></p>
<p>Box office revenue: $<%= @movie[4] %></p>