<h1><%= @movie[0] %></h1>
<ul>
  <li>Year of release: <%= @movie[1] %></li>
  <li>Director: <%= @movie[2] %></li>
  <li>Box office revenue: $<%= @movie[4] %></li>
</ul>
<p>Movie poster</p>
<img src="<%= @movie[3] %>"></li>