<h1>Single Movie</h1>

<h2>Title: <%= @single_movie[0] %></h2>
<h2>Year: <%= @single_movie[1] %></h2>
<h2>Director: <%= @single_movie[2] %></h2>
<h2>Box Office Gross: $<%= @single_movie[4] %></h2>
<img src="<%= @single_movie[3] %>">
