<h1>List of Movies:</h1>
<ul>
<% @movies.each do |line| %>
  <li>
      Name: <%= line[0] %>
      Year: <%= line[1] %>
      Director: <%= line[2] %>
      Box Office: $<%= line[4] %>
      <a href="<%= line[3] %>">
      Image
    </a>
  </li>
<% end %>
</ul>