<h1><%= @movie[0] %></h1>
<ol>
  <li>Year of release: <%= @movie[1] %></li>
  <li>Director: <%= @movie[2] %></li>
  <li><a href="<%= @movie[3] %>">Movie poster</a></li>
  <li>Box office revenue: $<%= @movie[4] %></li>
</ol>
