
<h1>Movie Page</h1>
<!-- @info is a line stripped from the movies.csv file -->
<!-- Image -->
<img src = "<%=@info[3]%>"/>
<!-- Title -->
<h2> Title: <%=@info[0] %> </h2>
<!-- Year of release -->
<h3> Year: <%=@info[1] %></h3>
<!-- Director -->
<h3> Director: <%=@info[2]%></h3>
<!-- Moneys -->
<h3> Box-Office Revenue: <%=@info[4]%></h3>
